
03-Python/.DS_Store
01-Excel/.DS_Store
01-Excel/Instructions/.DS_Store
02-VBA-Scripting/.DS_Store
02-VBA-Scripting/Instructions/.DS_Store
02-VBA-Scripting/Instructions/Resources/.DS_Store
03-Python/Python-Challenge/.DS_Store
03-Python/Python-Challenge/PyBank/output/.DS_Store
04 - Pandas/Pandas-Challenge/.ipynb_checkpoints/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_HeroesOfPymoli_starter-checkpoint.ipynb
04 - Pandas/Pandas-Challenge/.ipynb_checkpoints/HeroesofPymoli-checkpoint.ipynb
04 - Pandas/Pandas-Challenge/.ipynb_checkpoints/HeroesOfPymoli_wrong-checkpoint.ipynb
05 - Matplotplab/Pymaceuticals/.ipynb_checkpoints/pymaceuticals_starter-checkpoint.ipynb
05 - Matplotplab/Pymaceuticals/.ipynb_checkpoints/pypharma-checkpoint.ipynb
06 - Python - APIs/.DS_Store
06 - Python - APIs/Instructions/.DS_Store
06 - Python - APIs/Instructions/Images/equatorsign.png
06 - Python - APIs/Instructions/Images/heatmap.png
06 - Python - APIs/Instructions/Images/hotel_map.png
06 - Python - APIs/Instructions/output_data/Fig4.png
06 - Python - APIs/Instructions/output_data/Fig3.png
06 - Python - APIs/Instructions/output_data/Fig2.png
06 - Python - APIs/Instructions/output_data/Fig1.png
06 - Python - APIs/Instructions/output_data/cities.csv
06 - Python - APIs/Instructions/Python_API_grading_rubric.pdf
06 - Python - APIs/Instructions/README.md
06 - Python - APIs/api_keys.py
06 - Python - APIs/WeatherPY/api_keys.py
06 - Python - APIs/WeatherPY/__pycache__/api_keys.cpython-38.pyc
.DS_Store
06 - Python - APIs/VacationPy/api_keys.py
06 - Python - APIs/WeatherPY/__pycache__/api_keys.cpython-39.pyc
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/citipy/citipy.py
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/citipy/worldcities.csv
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/PKG-INFO
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/setup.cfg
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/setup.py
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/citipy.egg-info/SOURCES.txt
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/citipy.egg-info/PKG-INFO
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/citipy.egg-info/dependency_links.txt
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/citipy.egg-info/requires.txt
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/citipy.egg-info/SOURCES.txt
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/citipy.egg-info/top_level.txt
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/citipy/__init__.py
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/citipy/citipy.py
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/citipy/worldcities.csv
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/PKG-INFO
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/setup.cfg
06 - Python - APIs/WeatherPY/output_data/citipy-0.0.5/setup.py
.DS_Store
06 - Python - APIs/WeatherPY/.DS_Store
05 - Matplotplab/.DS_Store
.DS_Store
06 - Python - APIs/WeatherPY/.DS_Store
Project1/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
Project1/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Project1/.ipynb_checkpoints/mostdangerousetc-checkpoint.ipynb
Project1/.ipynb_checkpoints/MostDangerous-checkpoint.ipynb
Project1/.ipynb_checkpoints/dangerousplaces-checkpoint.ipynb
